

.main {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: var(--c-bg-sec);
  display: flex;
  //height: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 1rem;
  > div {
    padding: 1rem 0 0 0;
    min-width: 8rem;
  }
  svg {
    height: 2rem;
    width: 2rem;
    margin: 0 1rem;
    cursor: pointer;

    &:hover {
      color: var(--c-link-hov);
    }
  }
}

.lower {
  display: flex;
  font-family: monospace;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1rem;
}

.controls {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.range {
  width: 100%;
  margin: 0 1rem;
}

.volumeWrapper {
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.titleWrapper {
  display: flex;
  justify-content: center;
  @media screen and (min-width: 600px) {
    justify-content: flex-start;
  }
}