* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --c-bg: #000;
  --c-text: #f0f0f0;
  --ff-text: sans-serif;
  --ff-headings: sans-serif;
}

body {
  background: var(--c-bg);
  color: var(--c-text);
  font-family: var(--ff-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-headings);
}